name: Build
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      
      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm ci
        run: |
          npm ci
          npm run build > "${GITHUB_SHA}-status.txt"

      - name: install sourcemap & generate sourcemaps output
        run: |
          npm i -g source-map-explorer
          source-map-explorer dist/actionstest/*.js --html "${GITHUB_SHA}.html"   
          source-map-explorer dist/actionstest/*.js --json "${GITHUB_SHA}.json"
          source-map-explorer dist/actionstest/*.js --tsv "${GITHUB_SHA}.tsv"

      - name: Send report email
        uses: dawidd6/action-send-mail@v2
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Sourcemap & build report
          body: Build results & sourcemap of <b>${{github.repository}}</b> for commit id <b>${{github.sha}}</b>
          to: devesh7@protonmail.com
          from: ${{secrets.MAIL_USERNAME}}
          content_type: text/html
          attachments: ${{github.sha}}.html,${{github.sha}}.json,${{github.sha}}.tsv,${{github.sha}}-status.txt   